<launch>
  <arg name="right_electric_gripper" default="true"/>
  <arg name="left_electric_gripper" default="true"/>
  <include file="$(find baxter_gazebo)/launch/baxter_world.launch">
  </include>
  <node name="action_server" pkg="proj1_pkg" type="start_joint_trajectory_action_server.py" respawn="false" output="screen">
  </node>
  <node name="enable_robot" pkg="baxter_tools" type="enable_robot.py" respawn="false" output="screen" args="-e">
  </node>
  <node name="tuck_arms" pkg="baxter_tools" type="tuck_arms.py" respawn="false" output="screen" args="-u">
  </node>
  <include file="$(find proj1_pkg)/launch/demo_baxter.launch">
    <arg name="right_electric_gripper" value="$(arg right_electric_gripper)" />
    <arg name="left_electric_gripper" value="$(arg left_electric_gripper)" />
  </include>
</launch>