<launch>

  <arg name="marker_size" default="15" />
  <arg name="max_new_marker_error" default="0.08" />
  <arg name="max_track_error" default="0.2" />
  <arg name="cam_name" default="left_hand"/>

  <node name="ar_track_alvar_baxter_$(arg cam_name)" pkg="ar_track_alvar" type="individualMarkersNoKinect" respawn="false" output="screen" args="$(arg marker_size) $(arg max_new_marker_error) $(arg max_track_error) /cameras/$(arg cam_name)_camera/image /cameras/$(arg cam_name)_camera/camera_info /$(arg cam_name)_camera" />

</launch>
